.App {
  text-align: center;
}

.App-logo {
  height: 5.25rem;
}

.App-header {
  font-size: 3rem;
}

.App-start-screen {
  background-color: rgb(179, 167, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-play-btn {
  background-color: black;
  color: rgb(248, 248, 248);
  border: none;
  border-radius: 1.5em;
  padding: 1px 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  height: 3rem;
  width: 9rem;
}