.Game-header {
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.Game-date {
    margin-left: 2rem;
    font-size: 1.5em;
    transform: translateY(0.1rem);
}

.Game-instruction {
    font-size: 1.1rem;
}

.Game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    justify-items: center;
    align-items: center;

    margin: 0 auto;
    padding-bottom: 2rem;

    width: min-content;
    min-width: 40rem;
}

.Game-cell {
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    font-size: 1.25rem;
    width: 10rem;
    height: 5rem;
    background-color: rgb(239, 239, 230);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .Game-cell {
        width: 7rem;
        height: 4rem;
        font-size: 1rem;
    }

    .Game-board {
        min-width: 30rem;
        grid-gap: 0.3rem;
    }
}

@media (max-width: 480px) {
    .Game-cell {
        width: 5rem;
        height: 3rem;
        font-size: 0.85rem;
    }

    .Game-board {
        min-width: 22rem;
        padding: 0 1rem;
    }

    .Game-mistakes {
        margin-top: 1rem;
    }

    .Game-header {
        flex-direction: column;
    }
}

.Game-cell-selected {
    background-color: rgb(90, 89, 78);
    color: rgb(248, 248, 248);
}

.Game-action-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.Game-action-btns button {
    padding: 1rem 1.5rem;
    border: 1.5px solid black;
    background-color: inherit;
    border-radius: 1.8rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: arial;
}

.Game-mistakes {
    color: rgb(90, 89, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game-mistake-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #606060;
}

.Game-group-found {
    grid-column: 1 / -1;
    /* spans all 4 columns */
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    height: 5rem;
    border-radius: 6px;
    font-size: 1.3rem;
    animation: slideInDown 0.6s ease-out;

}

/* Animation for when a group has been found */
@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Game-action-btns button:disabled {
    cursor: not-allowed;
}

.Game-cell-disabled {
    /* don't show cursor pointer on a disabled cell (4 cells are already selected) */
    cursor: default;
    pointer-events: none;
}